* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


nav {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(112, 25, 25);
    z-index: 10;

}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
}

nav a:hover {
    cursor: pointer;
    background-color: rgba(25, 25, 112, 0.5);
}

#welcome-section {
    margin-top: 10vh;
    height: 100vh;
    width: auto;
    background-color: rgb(25, 25, 112);
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 10vh;
    word-spacing: 0.25vh;
}
h2 {
    font-size: 5vh;
    color: rgb(112, 25, 25);
    padding-top: 2rem;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: rgb(18, 18, 84);
}

#projects h2 {
    color: white;
    margin-bottom: 5rem;
    font-size: 5vh;
    text-align:center;
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}
.project-tile {
    width: 25vw;
    height: auto;
    border: 5px solid black;
    
}

.project-tile a {
    text-decoration: none;
    color: white;
}

.project-link img {
    display: block;
    width: 100%;
    height: auto;
}

.project-link span {
    display: block;
    padding: 2% 0;
    background-color: rgba(112, 25, 25, 0.8);
    text-align: center;
    font-size: 4vh;
}


#profile-link {
    margin: 3rem 0;
    text-decoration: none;
    font-size: 4vh;
    border: 2px solid black;
    border-radius: 5%;
    color: white;
    padding: 1.5rem 2rem;
    background-color: rgba(112, 25, 25, 0.9);

}

#profile-link:hover {
    background-color: rgb(112, 25, 25);
    font-size: 4.5vh;
}


footer {
    background-color: rgb(25, 25, 112);
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

#contact h2 {
    color: white;
}


@media only screen and (max-width: 768px) {
    .projects-container {
        display: flex;
        flex-direction: column;
    }
    .project-tile {
        width: 80vw;
        height: auto;
        border: 2px solid black;
    }
    nav {
        justify-content:center;
    }
    nav a {
        padding: 1rem 1rem;
        font-size: 1.5rem;
    }
}
